@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Damian Krysta<br />
    Chybie,  XXX-XX<br />
    <abbr title="Phone">P:</abbr>
    000-000-000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@onlinelib.pl">support@onlinelib.pl</a><br />
    <strong>Administrator:</strong> <a href="mailto:admin@onlinelib.pl">admin@onlinelib.pl</a>
</address>